:root {
    --variavelCorDeFundo: rgba(214,225,255,255);
    --variavelCorDeFundo2: rgba(56,42,225,255);
    --variavelCorDeFundoPreco: rgba(248,249,254,255);
    --variavelCorTexto2: rgba(77,65,191,255);
    --variavelCorTextoBase: rgba(149,153,173,255);
    --variavelCorTextoTitulo: rgba(47,55,87,255);
}

body{
    background: var(--variavelCorDeFundo);
    align-items: center;
    height: 100vh;
    display: flex;

}
.cardBody{
    
    margin: 50px 15px;
    border-radius: 25px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.textoDescritivo{
    text-align: center;
}

.textoDescritivo h1{

    font-weight: bold;
    color: black;
    padding: 15px;
    font-size: 1.5rem;

}

.textoDescritivo p{
    color: var(--variavelCorTextoBase);
    padding: 15px;
    font-size: 1rem;
}
.cardBody img{
    border-radius: 25px 25px 0px 0px;
    max-width: 100%;
}
.precoCardDois{
    background: var(--variavelCorDeFundoPreco);
    display: flex;
    padding: 15px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.corpoCardTexto{
    padding: 25px;
}


.precoCardDois h1{
    padding: 5px;
    font-weight: bold;
    color: black;
    font-size: 1rem;

}
.precoCardDois p{
    color: var(--variavelCorTextoBase);
    font-size: 1rem;
}

.escolhaDePlano a{
    color: var(--variavelCorDeFundo2);
}

.buttonPayment{
    margin: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: var(--variavelCorDeFundo2);

}
.buttonPayment a {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}


.buttonCancelOrder{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonCancelOrder a {
    align-items: center;
    color: var(--variavelCorTextoBase);
    text-decoration: none;
}

@media (min-width: 768px) {
    body{
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .cardBody{
        width: 50%;
    }
}

@media (min-width: 1024px) {
    body{
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .cardBody{
        width: 30%;
    }
}

@media (min-width: 1440px) {
    body{
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .cardBody{
        width: 30%;
    }
}